@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
}

body{
    background-color: #e0e0e0ef;
}

#titulo{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid 2px black;
    background-color: rgba(92, 92, 92, 0.880);
}

#titulo p{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 8px;
}

#titulo img{
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 10px;
    border-bottom: solid 3px black;
}

#divBusca{
    margin-top: 21px;
    margin-left: 100px;
    margin-right: 300px;
}

#divBusca input{
    width: 300px;
    height: 20px;
    outline: none;
}

#divBusca button{
    width: 308px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    cursor: pointer;
}

.imagens{
    display: flex;
    justify-content: center;  
    border-bottom: solid 2px black;
}

.imagens img{
    width: 600px; 
    margin: 5px;
    border-radius: 5%;
    border-bottom: solid 4px black;
}

.bottom img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#titulo div img{
    text-align: center;
}

#divSpan{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 170px;
}

#titulo p{
    font-size: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
}

.bottom a {
    width: 300px;
    height: 220px;
    margin: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30%;
    border-bottom: solid 4px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bottom a img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

.contatos{
    background-color: black;
    color: white;
    text-align: center;
}

.contatos p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#barra_top{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid 2px black;
    background-color: rgba(92, 92, 92, 0.880);
}

#barra_top img{
    width: 100px;
    height: 70px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 10px;
    border-bottom: solid 3px black;
}

#desc{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-left: 25%;
}

#descricao{
    display: flex; 
}

#descricao img{
    width: 430px;
    height: 310px;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 50px;
    border-bottom: 5px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#barra_top p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 8px;
}

#descricao{
    display: flex;
    margin-top: 23px;
    border-right: 2px solid black;
    width: 920px;
}

#descricao p{
    width: 450px;
    font-size: 20px;
    margin-left: 15px;
    text-indent: 3ch;
    font-family: 'Roboto';
}

#ParDiv{
    margin-top: 60px;
}

#social_medias{
    margin-top: 239px;
    background-color: black;
    color: white;
    text-align: center;
}

#social_medias p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#ParDiv button{
    width: 200px;
    height: 35px;
    margin-left: 120px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#ParDiv button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#nutricional{
    width: 300px;
    height: 250px;
}

#nutricional img{
    width: 290px;
    margin-left: 100px;
    border-radius: 15%;
}

#barr{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid 2px black;
    background-color: rgba(92, 92, 92, 0.880);
}

#barr img{
    width: 100px;
    height: 70px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 10px;
    border-bottom: solid 3px black;
}

#barr p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 8px;
}

#capa_ped{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-left: 28%;
}

#exple{
    border: 25px solid black;
}

.e-name span{
    margin-left: 15px;
    font-family: 'Roboto';
}

.e-name input{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    outline: none;
}

.e-name input:focus{
    width: 30%;
    outline: none;
}

#select{
    font-family: 'Roboto';
    margin-top: 10px;
    margin-left: 15px;
}

#select select{
    width: 400px;
    height: 30px;
    border-radius: 15px;
    outline: none;
}

#midia{
    margin-top: 297px;
    background-color: black;
    color: white;
    text-align: center;
}

#midia p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#entrega{
    font-family: 'Roboto';
    margin-left: 15px;
    margin-top: 15px;
}

#adc{
    font-family: 'Roboto';
    margin-left: 15px;
    margin-top: 10px;
}

#adc input{
    margin-left: 10px;
}

#selecao input{
    margin-left: 93px;
    margin-top: 5px;
}