body{
    background-color: #e0e0e0ef;
}

#titulo{
    display: flex;
    margin-bottom: 10px;
    margin: 2px;
    border-bottom: solid 2px rgba(43, 43, 43, 0.705);
}

#titulo img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.imagens{
    display: flex;
    justify-content: center;  
    border-bottom: solid 2px rgba(43, 43, 43, 0.705);
}

.imagens img{
    width: 600px; 
    margin: 5px;
    border-radius: 5%;
}

#titulo div img{
    text-align: center;
}

#divSpan{
    align-items: center;
    margin: auto;
}

#titulo p{
    font-size: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
}

.bottom img{
    width: 300px;
    margin: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30%;
    border-bottom: solid 4px black;
}

.contatos{
    border-bottom: solid 2px rgba(43, 43, 43, 0.705);
    background-color: #000000;
    color: white;
    text-align: center;
}
