@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
}

body{
    background-color: #e0e0e0ef;
}

#titulo{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid 2px black;
    background-color: rgba(92, 92, 92, 0.880);
}

#titulo p{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 8px;
}

#titulo img{
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 10px;
    border-bottom: solid 3px black;
}

#divBusca{
    margin-top: 19px;
    margin-left: 5px;
    margin-right: 300px;
}

#divBusca input{
    width: 300px;
    height: 20px;
}

#divBusca button{
    width: 308px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    cursor: pointer;

}

.imagens{
    display: flex;
    justify-content: center;  
    border-bottom: solid 2px black;
}

.imagens img{
    width: 600px; 
    margin: 5px;
    border-radius: 5%;
    border-bottom: solid 4px black;
}

.bottom img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#titulo div img{
    text-align: center;
}

#divSpan{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 170px;
}

#titulo p{
    font-size: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
}

.bottom img{
    width: 300px;
    margin: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30%;
    border-bottom: solid 4px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contatos{
    background-color: black;
    color: white;
    text-align: center;
}

.contatos p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}